/* jamiedubs.com */
/* Google Alarm */

/* General */

body {
  font-family: sans-serif;
  font-size: 9pt;
	line-height: 13pt;
}

a img { border: 0; }

h1 { padding: 0; font-family: "century gothic", "geneva", sans-serif; font-size: 2.5em; font-weight: bold; }
h2 { font-size: 1.8em; color: #999; line-height: 1.2em;}

.centered { text-align: center; }


/* Standard page elements */

h1#title { }
h2#byline { margin-bottom: 20px; }
#logo{ float: left; margin: -10px 10px 20px 0; }

#left {
	width: 180px;
  float: left;
	margin-top: 20px;
	overflow: hidden;
  text-align: right;
}
#right {
	width: 250px;
	float: left;
	padding: 30px;
}

.content {
  clear: both;
  margin: 0 auto;
  width: 600px;
  padding-top: 10px;
}

.meta {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	color: #555;
}
.meta a {
	text-decoration: underline;
	color: #999;
}

.footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #efefef;
}

#home_link { position: absolute; top: 45px; margin-left: -220px; }
#home_link a {
  opacity: 0.4;
  -moz-border-radius: 6px;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding: 10px 12px;
  text-decoration: none;
}
#home_link a:hover { opacity: 0.6; }


/* Custom page elements */

#description {
  font-size: 115%;
  padding: 10px 50px 15px 0px;
  border: 1px solid #efefef;
  border-left: 0;
  border-right: 0;
}

#screenshot { background: white; float: right; padding: 0 0 30px 30px; padding-top: 100px; margin-right: -200px; margin-top: -130px;}
#screenshot img { border: 1px solid #aaa; padding: 2px; }
#screenshot a img { opacity: 0.8; }
#screenshot a:hover img { opacity: 1; }

.downloads {
  background: #eee url(bgimage7jc.png);
  -moz-border-radius: 5px;
  border: 1px solid #facafa;
  width: 260px;
  font-size: 110%;
  margin: 20px auto 20px;
  padding: 15px 30px 5px;
}
.downloads .meta a { color: #555; }
.downloads .meta a:hover { color: #222; }
.downloads img.platform { margin-right: 15px; }
.downloads img.platform.offset { float: left; margin-bottom: 20px; }
.alt-download { width: 300px; margin: 0 auto; }

#screeenshots { width: 800px; margin: 0 auto; }
#screenshots img { width: 100%; border: 1px solid #aaa; margin: 10px 0; }


